@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Oswald:wght@400;600&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E4DFDF;
}

.logo {
    width: 2.5rem;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
}
header nav ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 1.5625rem;
}

.navbar li a:hover {
    color: gray;
}
.container-grid-cards{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
.container-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*Index.html*/
.introduccion {
    display: flex;
    width: 100%;
    height: 31.25rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.introduccion .biografia {
    width: 34.375rem;
    height: 18rem;
    overflow: hidden;
    margin: .3125rem;
    padding-right: 1.25rem;
    text-align: center;
}

.separador {
    margin-right: 7%;
    width: .125rem;
    height: 15.625rem;
    background-color: black;
}

.introduccion .biografia-2 {
    padding-right: 9.625rem;
    width: 25rem;
    height: 21rem;
    overflow: hidden;
    text-align: center;
}

.biografia-2 img {
    width: 9.375rem;
    height: 9.375rem;
}

.slider {
    width: 100%;
}

h1 {
    text-align: center;
}

.cards {
    width: 25%;
    min-height: 29rem;
    /* height: 28.125rem; */
    border: .0625rem solid black;
    border-radius: .9375rem;
    overflow: hidden;
    box-shadow: 2px 2px 10px gray;
    margin: 5px;
    text-align: center;
}
.cards:hover{
    box-shadow: 0 0 10px 3px black;
}

.cards img {
    width: 100%;
}
.form{
    font-family:'roboto', sans-serif;
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5rem 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;

}
.form-titulo{
    font-size: 2rem;
    margin-bottom: .5rem;
}
.form-inicio{
    font-weight: 300;
}
.form-link{
    font-weight: 400;
    color: black;
}
.form-link:hover{
    color: red;
}
.form-container{
    margin-top: 3rem;
    display: grid;
    gap: 2.5rem;
}
.form-grupo{
    position: relative;
    --color: gray;
}
.form-input{
    width: 100%;
    background: none;
    color: grey;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);

}
.form-input:not(:placeholder-shown){
    color: gray;
}
.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #0d6efd;
}
.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;

}
.form-submit{
    background: #0d6efd;
    color: #ffffff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}
.form-linea{
    position: absolute ;
    border: 0;
    left: 0;
    width: 100%;
    height: .0625rem;
    background-color: #0d6efd;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}
.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
    transform: scale(0.6);
}
.mapa {
    text-align: center;
}

/*jbl.html*/
.vista-previa img {
    width: 35rem;
    height: 35rem;
}

.vista-previa {
    display: flex;
}

.vista-previa p {
    margin-top: 1.25rem;
}

.parrafo {
    display: flex;
    flex-direction: column;
    margin: 6.25rem;
}




/*contacto.html*/
.cards-contact {
    font-family:'roboto', sans-serif;
    width: 30%;
    height: 100vh;
    border: .0625rem solid black;
    border-radius: .9375rem;
    overflow: hidden;
    margin: 5px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.contacto{
    font-family:'roboto', sans-serif;
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 4.5rem 3rem;
    text-align: center;
    padding-top: 35%;
}



/*productos.html*/
.categorias {
    list-style: none;
    background-color: black;
}

/*nosotros.html*/
.grid-nosotros {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
        ". . . . . . . ."
        ". . historia historia historia historia . ."
        ". . historia historia historia historia . ."
        ". ubicacion ubicacion ubicacion mapa mapa mapa ."
        ". ubicacion ubicacion ubicacion mapa mapa mapa ."
        ". ubicacion ubicacion ubicacion mapa mapa mapa ."
        ". . que-vendemos que-vendemos que-vendemos que-vendemos . ."
        ". . que-vendemos que-vendemos que-vendemos que-vendemos . ."
    ;
    gap: 4rem;

}

.historia {
    grid-area: historia;
    text-align: center;
}

.ubicacion {
    grid-area: ubicacion;
    width: 100%;
    height: 100%;
    align-self: center;
    text-align: center;
    box-shadow: 2px 2px 10px gray;
    border: .375rem solid black;
    border-radius: .9375rem;
}


.mapa {
    grid-area: mapa;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 2px 2px 10px gray;
    border: .375rem solid black;
    border-radius: .9375rem;
}

.mapa h3 {
    margin-right: 42%;
    margin-top: 5%;
}

.mapa p {
    text-align: left;
    margin-left: 17%;
}

.mapa iframe {
    margin: 5%;
    width: 18.75rem;
    height: 18.75rem;
    box-shadow: 2px 2px 10px gray;
    border-radius: .9375rem;

}


.ir {
    margin: 6%;
    background-color: #0d6efd;
    color: #ffffff;
    font-size: 1.25rem;
    width: 4rem;
    height: 1.875rem;
    text-decoration: none;
    border-radius: .625rem;
    border: none;
}
.ir:hover{
    background-color: #0c52bd;
}
.Que-vendemos {
    grid-area: que-vendemos;
    text-align: center;
}

.nosotros img {
    width: 9.375rem;
    height: 9.375rem;
    margin-left: 1.875rem;
}

.nosotros p {
    text-align: center;
}

/*cliente.html*/
.Legales {
    text-align: center;
}

.leg {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
    font-size: 1.5625rem;
}

.leg a {
    text-decoration: none;
}

.leg a:hover {
    color: red;
}

.testimonios {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.testimonios .nosotros {
    display: flex;
    width: 100%;
    height: 9.5rem;
    margin: .25rem 0rem 1.25rem;
    border: .0625rem solid black;
    border-radius: .9375rem;
    text-align: left;
}

.testimonios .nosotros p {
    margin-left: 2.25rem;
    margin-top: 3.25rem;
}

/*terminos.html*/
.terminos-condiciones {
    text-align: center;
    margin: 5%;
}

.terminos-condiciones h2 {
    color: red;
    text-align: left;
}

.cambio {
    text-align: left;
}

/*footer*/
.wpp {
    position: fixed;
    bottom: 1.25rem;
    /*se baja porq estaba arriba*/
    right: 1.25rem;
    /*para que se mueva a la derecha*/
}
.flecha{
    position: fixed;
    bottom: 1.25rem;
}

.footer {
    width: 100%;
    background-color: black;
}

footer {
    color: white;
}

.pseudo {
    color: white;
    text-decoration: none;

}

.pseudo:hover {
    color: red;
}

.redes {
    border: none;
}

/*.footer-grid{
    display: grid;
    width: 100%;
    height: 100%vh;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(3, 2.5rem);
}
/*.redes-1{
    margin-left: .625rem;
    grid-column: 1/2;
    grid-row: 2/3 ;
}
.redes-2{
    margin-left: .625rem;
    grid-column: 2/3;
    grid-row: 2/3 ;
}
.redes-3{
    margin-left: .625rem;
    grid-column: 3/4;
    grid-row: 2/3 ;
    
}
.formas-pago img{
    width: 25rem;
    height: 8.125rem;
}
.formas-pago{
    grid-column: 4/6;
    grid-row: 1/4;
}*/
@media (max-width: 1024px){
    .cards{
        width: 20rem;
    }
    .container-cards{
        flex-wrap: wrap; 
        height: 20%;
    }
    .container-cards-2{
        flex-wrap: wrap;
        height: 20%;
    }
    .mapas{
        display: none;
    }

}
@media (max-width: 768px){
    .separador{
        display: none;

    }
    .introduccion{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
        overflow: hidden;
    }
    .introduccion .biografia-2{
        display: flex;
        width: 100%;
        margin-left: 9.25rem;
        text-align: left;
        font-size: 3vw;
    }
}
@media(max-width: 575px){
    .introduccion .biografia p{
        font-size: 3vw;
        padding-left: 1.625rem;
        padding-right: 1.625rem;
    }
    .introduccion .biografia h2{
        font-size: 1.5rem;
    }
}

@media(max-width: 465px){
    .introduccion .biografia p{
        font-size: 3vw;
        margin: 2.625rem;
        padding: 3.625rem;
    }
    .introduccion .biografia h2{
        font-size: 1rem;
    }
    .flecha{
        display: none;
    }
    .introduccion .biografia-2{
        display: none;
    }
    .form-titulo{
        font-size:1.5rem ;
    }
}
@media(max-width: 400px){
    .wpp{
        display: none;
    }
}

