/*primero variables mixins y todo utilities*/
/*todo lo de base*/
/*estilos generales*/
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Oswald:wght@400;600&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dcdada;
}

h1, .Legales h3 {
  text-align: center;
}

/*todo lo de components*/
.form {
  font-family: "roboto", sans-serif;
  background-color: #ffffff;
  margin: auto;
  width: 90%;
  margin-top: 3.875rem;
  margin-bottom: 3.875rem;
  margin-left: none;
  margin-right: none;
  max-width: 400px;
  padding: 4.5rem 3rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.form .form-titulo {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.form .form-inicio {
  font-weight: 300;
}
.form .form-inicio .form-link {
  font-weight: 400;
  color: black;
}
.form .form-inicio .form-link:hover {
  color: red;
}
.form .form-container {
  margin-top: 3rem;
  display: grid;
  gap: 2.5rem;
}
.form .form-container .form-grupo {
  position: relative;
  --color: gray;
}
.form .form-container .form-grupo .form-input {
  width: 100%;
  background: none;
  color: grey;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}
.form .form-container .form-grupo .form-input:not(:placeholder-shown) {
  color: gray;
}
.form .form-container .form-grupo .form-input:focus + .form-label, .form .form-container .form-grupo .form-input .form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #0d6efd;
}
.form .form-container .form-grupo .form-label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.form .form-container .form-grupo .form-linea {
  position: absolute;
  border: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #0d6efd;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}
.form .form-container .form-submit {
  background: #0d6efd;
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}

.form-submit {
  background: #0d6efd;
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}

.form-submit-cont {
  background: #0d6efd;
  color: #ffffff;
  font-weight: 200;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  margin-top: 2rem;
}

/*todo lo de card*/
.container-grid-cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.container-grid-cards h1, .container-grid-cards .Legales h3, .Legales .container-grid-cards h3 {
  text-align: center;
}
.container-grid-cards .container-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 4rem;
}
.container-grid-cards .container-cards .cards {
  width: 25%;
  height: 30rem;
  border: 0.0625rem solid black;
  border-radius: 0.9375rem;
  overflow: hidden;
  box-shadow: 2px 2px 10px gray;
  margin: 5px;
  text-align: center;
  background-color: black;
  color: white;
}
.container-grid-cards .container-cards .cards:hover {
  box-shadow: 0 0 10px 3px black;
}
.container-grid-cards .container-cards .cards img {
  width: 100%;
}

/*todo layout*/
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  height: 4rem;
}
header .logo {
  width: 2.5rem;
}
header nav ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}
header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: 1.5rem;
  list-style: none;
}
header .navbar li a {
  text-decoration: none;
  color: white;
  font-size: 1.5625rem;
}
header .navbar li a:hover {
  color: gray;
}

.slider {
  width: 100%;
}

.card svg {
  height: 25px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #e7e7e7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 200px;
}
.card::before, .card::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}
.card::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #4d60b6;
}
.card::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #4453a6;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card:hover span {
  opacity: 0;
  z-index: -3;
}
.card:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}
.card:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}
.card span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-family: "Fira Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}
.card .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}
.card .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.container-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: none;
  margin-right: none;
}
.container-cards .cards-contact {
  font-family: "roboto", sans-serif;
  width: 40%;
  height: 35rem;
  border: 0.0625rem solid black;
  border-radius: 0.9375rem;
  overflow: hidden;
  margin: 5px;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  background-color: white;
}
.container-cards .cards-contact .contacto {
  flex-direction: column;
  display: flex;
  font-family: "roboto", sans-serif;
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.container-cards .cards-contact .contacto .form-titulo {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.container-cards .cards-contact .contacto .form-grupo {
  position: relative;
  --color: gray;
}
.container-cards .cards-contact .contacto .form-grupo .form-input {
  width: 100%;
  background: none;
  color: grey;
  font-size: 1rem;
  padding: 0.9em 0.6em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}
.container-cards .cards-contact .contacto .form-grupo .form-input:not(:placeholder-shown) {
  color: gray;
}
.container-cards .cards-contact .contacto .form-grupo .form-input:focus + .form-label, .container-cards .cards-contact .contacto .form-grupo .form-input .form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-2px) scale(0.7);
  transform-origin: left top;
  color: #0d6efd;
}
.container-cards .cards-contact .contacto .form-grupo .form-label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.container-cards .cards-contact .contacto .form-grupo .form-linea {
  position: absolute;
  border: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #0d6efd;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}
.container-cards .cards-contact h3:hover {
  color: red;
}

.grid-nosotros {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-template-areas: ". . . . . . . ." ". . historia historia historia historia . ." ". . historia historia historia historia . ." ". ubicacion ubicacion ubicacion mapa mapa mapa ." ". ubicacion ubicacion ubicacion mapa mapa mapa ." ". ubicacion ubicacion ubicacion mapa mapa mapa ." ". . que-vendemos que-vendemos que-vendemos que-vendemos . ." ". . que-vendemos que-vendemos que-vendemos que-vendemos . .";
  gap: 4rem;
}
.grid-nosotros .historia {
  grid-area: historia;
  text-align: center;
  margin: 0.625rem;
}
.grid-nosotros .historia p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.grid-nosotros .ubicacion {
  grid-area: ubicacion;
  height: 100%;
  align-self: center;
  text-align: center;
  box-shadow: 2px 2px 10px gray;
  border: 0.375rem solid black;
  border-radius: 0.9375rem;
  background-color: black;
  color: white;
}
.grid-nosotros .ubicacion:hover {
  box-shadow: 0 0 10px 3px black;
}
.grid-nosotros .ubicacion p {
  margin-top: 2.5rem;
}
.grid-nosotros .ubicacion .btn {
  margin-top: 3rem;
}
.grid-nosotros .ubicacion .grupo-nosotros {
  margin-top: 4rem;
}
.grid-nosotros .mapa {
  grid-area: mapa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 2px 2px 10px gray;
  border: 0.375rem solid black;
  border-radius: 0.9375rem;
  background-color: black;
}
.grid-nosotros .mapa:hover {
  box-shadow: 0 0 10px 3px black;
}
.grid-nosotros .mapa h2 {
  color: white;
}
.grid-nosotros .mapa h3 {
  margin-top: 1.625rem;
  margin-bottom: none;
  margin-left: none;
  margin-right: 12rem;
  color: white;
}
.grid-nosotros .mapa p {
  margin-top: none;
  margin-bottom: 1.625rem;
  margin-left: none;
  margin-right: 10rem;
  color: white;
}
.grid-nosotros .mapa iframe {
  width: 19rem;
  height: 18.75rem;
  box-shadow: 2px 2px 10px gray;
  border-radius: 0.9375rem;
}
.grid-nosotros .mapa .ir {
  text-align: center;
  margin: 6%;
  background-color: #0d6efd;
  color: white;
  font-size: 1.25rem;
  width: 4rem;
  height: 1.875rem;
  text-decoration: none;
  border-radius: 0.625rem;
  border: none;
}
.grid-nosotros .Que-vendemos {
  grid-area: que-vendemos;
  text-align: center;
}
.grid-nosotros .Que-vendemos p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.introduccion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: none;
  width: 100%;
  height: 31.25rem;
}
.introduccion .biografia {
  width: 34.375rem;
  height: 9rem;
  overflow: hidden;
  margin: 0.3125rem;
  padding-right: 1.25rem;
  text-align: center;
}
.introduccion .biografia p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.introduccion .separador {
  margin-right: 7%;
  width: 0.125rem;
  height: 15.625rem;
  background-color: black;
}
.introduccion .biografia-2 {
  padding-right: 9.625rem;
  width: 25rem;
  height: 21rem;
  overflow: hidden;
  text-align: center;
}
.introduccion .biografia-2 .presidente {
  box-shadow: 0 0 6px 5px gray;
  margin-top: 0.625rem;
}
.introduccion .biografia-2 .presidente:hover {
  box-shadow: 0 0 6px 5px rgb(82, 79, 79);
}
.introduccion .biografia-2 p {
  margin-top: 0.925rem;
  margin-bottom: none;
  margin-left: 1.625rem;
  margin-right: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.introduccion .biografia-2 img {
  margin-left: 1.325rem;
  width: 9.375rem;
  height: 9.375rem;
}

.quienes-somos {
  margin-top: 2.25rem;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 4px 20px;
}
.inner .nosotros-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 2px 2px 10px gray;
  border-radius: 0.9375rem;
  margin-bottom: 3.575rem;
}
.inner .nosotros-card .col {
  flex: 33.333%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.inner .nosotros-card .col .testimonio {
  display: grid;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img p1 p1 p1 " "p2 p2 p2 p2 ";
  column-gap: 0.625rem;
}
.inner .nosotros-card .col .testimonio img {
  grid-area: img;
  width: 6.25rem;
  border-radius: 50%;
}
.inner .nosotros-card .col .testimonio .p1 {
  grid-area: p1;
}
.inner .nosotros-card .col .testimonio .p2 {
  grid-area: p2;
  margin-bottom: 1.25rem;
}

.vista-previa {
  display: grid;
  background-color: white;
  padding: 8%;
  margin: 8%;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "h1 h1 h1 h1" ". border border ." "img img h2 h2" "img img p p" "img img p p";
  box-shadow: 0 0 6px 1px gray;
}
.vista-previa h1, .vista-previa .Legales h3, .Legales .vista-previa h3 {
  grid-area: h1;
}
.vista-previa .border, .vista-previa .testimonios .client .border, .testimonios .client .vista-previa .border {
  grid-area: border;
  width: 12.5rem;
  height: 5px;
  background: #6ab04c;
  margin: 23px auto;
}
.vista-previa img {
  grid-area: img;
  margin-right: 2.25rem;
  width: 25rem;
  height: 25rem;
}
.vista-previa h3 {
  grid-area: h2;
}
.vista-previa p {
  grid-area: p;
}

main h1, main .Legales h3, .Legales main h3 {
  padding-top: 2.25rem;
  color: #434343;
}
main .border, main .testimonios .client .border, .testimonios .client main .border {
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 23px auto;
}
main .clientes-info {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Legales {
  text-align: center;
}
.Legales .border2 {
  width: 100px;
  height: 3px;
  background: #6ab04c;
  margin: 15px auto;
}
.Legales .leg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 1.5rem;
  font-size: 1.5625rem;
}
.Legales .leg a {
  text-decoration: none;
  padding: 0.625rem 1.625rem 0.625rem 1.625rem;
  background: #0d6efd;
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  border: none;
  border-radius: 0.5em;
}
.Legales .leg a:hover {
  background-color: #0c52bd;
}

.testimonios {
  padding: 40px 0;
  color: #434343;
  text-align: center;
}
.testimonios .client {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.testimonios .client .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonios .client .row .col {
  flex: 33.333%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonios .client .row .col .testimonio-cliente {
  background: #fff;
  padding: 30px;
}
.testimonios .client .row .col .testimonio-cliente img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}
.testimonios .client .row .col .testimonio-cliente .name {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 1.25rem 0;
}
.testimonios .client .row .col .testimonio-cliente .stars {
  color: #6ab04c;
  margin-bottom: 1.25rem;
}

.terminos-condiciones {
  text-align: center;
  margin: 5%;
}
.terminos-condiciones .cambio, .terminos-condiciones h2 {
  text-align: left;
}
.terminos-condiciones h2 {
  color: red;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
}
.footer .flecha {
  position: fixed;
  bottom: 1.25rem;
  z-index: 999;
}
.footer .wpp {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 999;
}
.footer .pseudo {
  color: white;
  text-decoration: none;
}
.footer .pseudo:hover {
  color: red;
}
.footer .redes {
  border: none;
}

@media (max-width: 1024px) {
  .container-grid-cards {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .container-grid-cards .container-cards {
    flex-wrap: wrap;
    height: 20%;
  }
  .container-grid-cards .container-cards .cards {
    width: 20rem;
  }
}
@media (max-width: 768px) {
  .nosotros {
    display: none;
  }
  .nosotros .quienes-somos {
    display: none;
  }
  .nosotros .separador {
    display: none;
  }
  .grid-nosotros {
    display: flex;
    flex-direction: column;
  }
  .grid-nosotros .historia {
    margin-top: 3.25rem;
  }
  .grid-nosotros .ubicacion {
    width: 90%;
  }
  .grid-nosotros .mapa {
    margin: 2.625rem;
  }
  .container-cards {
    display: flex;
    flex-direction: column;
  }
  .container-cards .cards-contact {
    width: 90%;
  }
  .inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  .inner .nosotros-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 2px 2px 10px gray;
    border-radius: 0.9375rem;
    margin-bottom: 3.575rem;
  }
  .inner .nosotros-card .col {
    flex: 100%;
    max-width: 100%;
  }
  .testimonios {
    padding: 40px 0;
    color: #434343;
    text-align: center;
  }
  .testimonios .client {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  .testimonios .client .border {
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 23px auto;
  }
  .testimonios .client .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .testimonios .client .row .col {
    flex: none;
    max-width: 80%;
  }
  .vista-previa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
  }
}
@media (max-width: 575px) {
  .testimonios {
    padding: 40px 0;
    color: #434343;
    text-align: center;
  }
  .testimonios .client {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  .testimonios .client .border {
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 23px auto;
  }
  .testimonios .client .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .testimonios .client .row .col {
    flex: 100%;
    max-width: 90%;
  }
  .vista-previa img {
    width: 15rem;
    height: 15rem;
    margin: auto;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 465px) {
  .slider {
    height: 9.875rem;
  }
  .carousel-inner .carousel-item img {
    height: 11rem;
  }
  .flecha {
    display: none;
  }
  .form {
    font-family: "roboto", sans-serif;
    background-color: #ffffff;
    margin: auto;
    width: 85%;
    margin-top: 3.875rem;
    margin-bottom: 3.875rem;
    margin-left: none;
    margin-right: none;
    max-width: 400px;
    padding: 4.5rem 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  .form .form-titulo {
    font-size: 1.5rem;
  }
  .container-cards {
    display: flex;
    flex-direction: column;
  }
  .container-cards .cards-contact {
    width: 90%;
  }
  .container-cards .cards-contact h3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .container-cards .cards-contact p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .container-cards .cards-contact .contacto .form-grupo {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }
  .container-cards .cards-contact .contacto .form-submit-cont {
    width: 80%;
    margin-left: 2.3rem;
  }
  .grid-nosotros {
    display: flex;
    flex-direction: column;
  }
  .grid-nosotros .historia {
    margin-top: 3.25rem;
  }
  .grid-nosotros .ubicacion {
    width: 90%;
    margin: 0.625rem;
  }
  .grid-nosotros .mapa {
    margin: 1.625rem;
  }
  .grid-nosotros .mapa h3 {
    text-align: left;
    padding-right: 0.625rem;
  }
  .vista-previa img {
    width: 15rem;
    height: 15rem;
    margin: auto;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 400px) {
  .footer .wpp {
    display: none;
  }
  .grid-nosotros {
    display: flex;
    flex-direction: column;
  }
  .grid-nosotros .historia {
    margin-top: 3.25rem;
  }
  .grid-nosotros .ubicacion {
    width: 90%;
    margin: 0.625rem;
  }
  .grid-nosotros .mapa {
    margin: 0.625rem;
  }
  .inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  .inner .nosotros-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 2px 2px 10px gray;
    border-radius: 0.9375rem;
    margin-bottom: 3.575rem;
  }
  .inner .nosotros-card .col {
    flex: 100%;
    max-width: 100%;
  }
  .inner .nosotros-card .col .testimonio {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: none;
  }
  .inner .nosotros-card .col .testimonio .p2 {
    text-align: center;
  }
  .inner .nosotros-card .col .testimonio .p1 {
    display: none;
  }
  .container-grid-cards {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .container-grid-cards .container-cards {
    flex-wrap: wrap;
    height: 20%;
  }
  .container-grid-cards .container-cards .cards {
    width: 18rem;
  }
  .container-cards {
    display: flex;
    flex-direction: column;
  }
  .container-cards .cards-contact h3 {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .container-cards .cards-contact p {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .container-cards .cards-contact .contacto .form-submit-cont {
    width: 80%;
    margin-left: 2rem;
  }
  .vista-previa img {
    width: 10rem;
    height: 10rem;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
