@media(min-width: 2300px){
    .container-grid-cards{
        margin-top: 2rem;
        @include flex(column,center,center,2rem);
        width: 100%;
        h1{
            text-align: $align;
        }
        .container-cards {
            @include flex(row,center,center,1rem);
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 4rem;
            .cards {
                width: 25%;
                height: 100%;
                border: .0625rem solid black;
                border-radius: .9375rem;
                overflow: hidden;
                box-shadow: 2px 2px 10px gray;
                margin: 5px;
                text-align: $align;
                background-color: black;
                color: $color;
                &:hover{
                    box-shadow: 0 0 10px 3px black;
                }
                img{
                    width: $ancho;
                    height: 35rem;
                }
                h2{
                    font-size: 3rem;
                }
                p{
                    font-size: 2rem;
                }
                .btn{
                    margin-bottom: 2.5rem  ;
                    font-size: 2rem;
                }
            }
        }
}
.form{
    font-family:'roboto', sans-serif;
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    @include margin(3.875rem,3.875rem,none,none);
    max-width: 500px;
    padding: 4.5rem 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: $align;
    .form-titulo{
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }
    .form-inicio{
        font-weight: 300;
        .form-link{
            font-weight: 400;
            color: black;
            &:hover{
                color: $backgroung;
            }
        }
    }
    .form-container{
        margin-top: 3rem;
        display: grid;
        gap: 2.5rem;
        .form-grupo{
            position: relative;
            --color: gray;
            .form-input{
                width: $ancho;
                background: $display;
                color: grey;
                font-size: 1.5rem;
                padding: .6em .3em;
                border: $display;
                outline: $display;
                border-bottom: 1px solid var(--color);
                &:not(:placeholder-shown){
                    color: gray;   
                }
                &:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
                    transform: translateY(-12px) scale(.7);
                    transform-origin: left top;
                    color: #0d6efd;
                }
            }
            .form-label{
                color: var(--color);
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 5px;
                transform: translateY(10px);
                transition: transform .5s, color .3s;
            
            }
            .form-linea{
                position: absolute ;
                border: 0;
                left: 0;
                width: 100%;
                height: .0625rem;
                background-color: #0d6efd;
                transform: scale(0);
                transform: left bottom;
                transition: transform .4s;
            }
        }
        .form-submit{
            background: #0d6efd;
            color: #ffffff;
            font-weight: 300;
            font-size: 2rem;
            padding: .8em 0;
            border: $display;
            border-radius: .5em;
        }
    }
}
}