@media(max-width: 465px){
    .slider{
        height: 9.875rem;
    }
    .carousel-inner{
        .carousel-item{
            img{
                height: 11rem;
            }
        }
    }
    .flecha{
        display: $display;
    }
    .form{
        font-family:'roboto', sans-serif;
        background-color: #ffffff;
        margin: auto;
        width: 85%;
        @include margin(3.875rem,3.875rem,none,none);
        max-width: 400px;
        padding: 4.5rem 3rem;
        border-radius: 10px;
        box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
        text-align: $align;
        .form-titulo{
            font-size:1.5rem ;
        }
    }
    .container-cards{
        display: flex;
        flex-direction: column;
        .cards-contact{
            h3{
                margin-left: 1rem;
                margin-right: 1rem;
            }
            p{
                margin-left: 1rem;
                margin-right: 1rem;
            }
            width: 90%;
            .contacto{
                .form-grupo{
                    margin-left: 1.75rem;
                    margin-right: 1.75rem;
                }
                .form-submit-cont{
                width: 80%;
                margin-left: 2.3rem;
                }
            }
        }
    }
    .grid-nosotros{
        display: flex;
        flex-direction: column;
        .historia{
            margin-top: 3.25rem;
        }
        .ubicacion{
            width: 90%;
            margin: .625rem;
        }
        .mapa{
            margin: 1.625rem;
            h3{
                text-align: left;
                padding-right: .625rem;
            }
        }
    }
    .vista-previa{
        img{
            width: 15rem;
            height: 15rem;
            margin: auto;
            margin-bottom: 1.25rem;
        }
    }
    
}