.container-cards{
    @include flex(row,center,center,1rem);
    flex-wrap: wrap;
    width: $ancho;
    @include margin(5rem,5rem,none,none);
    .cards-contact {
        font-family:'roboto', sans-serif;
        width: 40%;
        height: 35rem;
        border: .0625rem solid black;
        border-radius: .9375rem;
        overflow: hidden;
        margin: 5px;
        text-align: $align;
        color: black;
        @include flex(column,center,center,none);
        background-color: $color;
        .contacto{
            flex-direction: column;
            display: flex;
            font-family:'roboto', sans-serif;
            background-color: #ffffff;
            width: $ancho;
            max-width: 400px;
            text-align: $align;
            .form-titulo{
                font-size: 2rem;
                margin-bottom: .5rem;
            }
            .form-grupo{
                position: relative;
                --color: gray;
                .form-input{
                    width: 100%;
                    background: $display;
                    color: grey;
                    font-size: 1rem;
                    padding: .9em .6em;
                    border: $display;
                    outline: $display;
                    border-bottom: 1px solid var(--color);
                    &:not(:placeholder-shown){
                        color: gray;   
                    }
                    &:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
                        transform: translateY(-2px) scale(.7);
                        transform-origin: left top;
                        color: #0d6efd;
                    }
                }
                .form-label{
                    color: var(--color);
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 5px;
                    transform: translateY(10px);
                    transition: transform .5s, color .3s;
                
                }
                .form-linea{
                    position: absolute ;
                    border: 0;
                    left: 0;
                    width: $ancho;
                    height: .0625rem;
                    background-color: #0d6efd;
                    transform: scale(0);
                    transform: left bottom;
                    transition: transform .4s;
                }
            }
        }
        h3:hover{
            color: $backgroung;
        }
    }
    
}