.footer{
    .flecha{
        position: fixed;
        bottom: 1.25rem;
    }
    .wpp{
        position: fixed;
        bottom: 1.25rem;
        right: 1.25rem;
    }
    width: 100%;
    background-color: black;
    color: $color;
    .pseudo {
        color: $color;
        text-decoration: $display;
        &:hover{
            color: $backgroung;
        }
    }
    .redes{
        border: $display;
    }
}