.slider{
    width: 100%;
}
.container-grid-cards{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    h1{
        text-align: center;
    }
    .container-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 4rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .cards {
            width: 25%;
            height: 29rem;
            border: .0625rem solid black;
            border-radius: .9375rem;
            overflow: hidden;
            box-shadow: 2px 2px 10px gray;
            margin: 5px;
            text-align: center;
            background-color: black;
            color: white;
            img{
                width: 100%;
            }
        }
    }
}
.form{
    font-family:'roboto', sans-serif;
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    margin-top: 3.875rem;
    margin-bottom: 3.875rem;
    max-width: 400px;
    padding: 4.5rem 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
    .form-titulo{
        font-size: 2rem;
        margin-bottom: .5rem;
    }
    .form-inicio{
        font-weight: 300;
        .form-link{
            font-weight: 400;
            color: black;
            &:hover{
                color: red;
            }
        }
    }
    .form-container{
        margin-top: 3rem;
        display: grid;
        gap: 2.5rem;
        .form-grupo{
            position: relative;
            --color: gray;
            .form-input{
                width: 100%;
                background: none;
                color: grey;
                font-size: 1rem;
                padding: .6em .3em;
                border: none;
                outline: none;
                border-bottom: 1px solid var(--color);
                &:not(:placeholder-shown){
                    color: gray;   
                }
                &:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
                    transform: translateY(-12px) scale(.7);
                    transform-origin: left top;
                    color: #0d6efd;
                }
            }
            .form-label{
                color: var(--color);
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 5px;
                transform: translateY(10px);
                transition: transform .5s, color .3s;
            
            }
            .form-linea{
                position: absolute ;
                border: 0;
                left: 0;
                width: 100%;
                height: .0625rem;
                background-color: #0d6efd;
                transform: scale(0);
                transform: left bottom;
                transition: transform .4s;
            }
        }
        .form-submit{
            background: #0d6efd;
            color: #ffffff;
            font-weight: 300;
            font-size: 1rem;
            padding: .8em 0;
            border: none;
            border-radius: .5em;
        }
    }
}