.form-submit{
    background: #0d6efd;
    color: #ffffff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: $display;
    border-radius: .5em;
}
.form-submit-cont{
    background: #0d6efd;
    color: #ffffff;
    font-weight: 200;
    font-size: 1rem;
    padding: .8em 0;
    border: $display;
    border-radius: .5em;
    width: $ancho;
    margin-top: 2rem;
}