/*todo lo de card*/
.container-grid-cards{
    margin-top: 2rem;
    @include flex(column,center,center,2rem);
    width: 100%;
    h1{
        text-align: $align;
    }
    .container-cards {
        @include flex(row,center,center,1rem);
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 4rem;
        .cards {
            width: 25%;
            height: 29rem;
            border: .0625rem solid black;
            border-radius: .9375rem;
            overflow: hidden;
            box-shadow: 2px 2px 10px gray;
            margin: 5px;
            text-align: $align;
            background-color: black;
            color: $color;
            img{
                width: $ancho;
            }
        }
    }
}